<h1>Restaurant: {{model.name}}</h1>
<h2> Description: {{model.description}}</h2>


<h2>Address: {{model.address}}</h2>

{{#if model.reviews}}
  <h2>Reviews:</h2>
    {{#each model.reviews as |review|}}
    <div class="row clearfix well">
      {{review.description}}
    </div>
    {{/each}}


  {{#link-to 'add-review'}} Add another review {{/link-to}}
{{else}}
  <h1>There are currently no reviews</h1>
  {{#link-to 'add-review'}} Please add review {{/link-to}}

{{/if}}

  <p>{{outlet}}</p>
