
<h1>Restaurant: {{model.name}}</h1>
<h2> Description: {{model.description}}</h2>

<h2>Address: {{model.address}}</h2>

{{google-maps address=model.address}}

{{#if model.reviews}}
  <h2>Reviews:</h2>
    {{#each model.reviews as |review|}}
    <div class="row clearfix well">
      <p id="reviews" class="lead text-info">{{review.description}}</p>
      <footer style="margin-bottom:0px;">
      <h6 style="float:right; margin-bottom:0px;">  {{format-date review.date}} </h6>
      <button class="btn btn-danger btn-xs" {{action "removeReview" review}}>X</button>
      </footer>
    </div>
    {{/each}}


  <p>Add another review </p>
{{else}}
  <h1>There are currently no reviews</h1>

{{/if}}


<div class="new-review">
<button class="btn btn-block btn-danger" {{action 'delete'}}>delete</button>
{{#link-to 'add-review'}}<button type="submit" class="btn btn-block btn-success" {{action 'add'}}>Add Review</button>{{/link-to}}
  <div id="addReview" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Review</h4>
        </div>
        <div class="modal-body">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
